body{
    width:100vw;
    height:100vh;
}

.section1{
    float:left;
    width: 50vw;
    height: 100vh;
}

.article1{
    background-color:cornflowerblue;
    width:50vw;
    height:50vh;
    

}

.article2{
    background-color:darkseagreen;
    width:50vw;
    height:50vh;
    

}

.section2{
    float:right;
    width:50vw;
    height:100vh;
}

.article3{
    background-color: darkseagreen;
    width:50vw;
    height:50vh;
 
}

.article4{
    background-color: cornflowerblue;
    width: 50vw;
    height:50vh;

}


.table1{
    border: none;
    padding-top:30px;
    padding-left:30px;
    width: 800px;
    height: 450px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-collapse: separate;
    border-spacing:  30px;
    border-radius: 20px 20px 20px 20px;
}

td{

    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.img1{
    width: 20px;
    height: 20px;
}

.table2{
    text-align: center;
    border-style: hidden;
    border-radius: 10px 10px 10px 10px;
    padding-left: 20%;
    padding-top:10%;
}




.table_money{
    border-collapse: collapse;
    float:left;
    width: 300px;
    height:40px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left:9%;
    margin-top: 2%;
    border-style: hidden;
}

.money{
    background-color: white;
    border-radius: 30px 30px 30px 30px;
}

.won{
    background-color: white;
    border-radius: 30px 30px 30px 30px;
}

.table_per{
    border-collapse: collapse;
    float:left;
    width: 300px;
    height:40px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left:9%;
    margin-top: 2%;
    border-style: hidden;
}
.per{
    
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    
}

.timer{
    float:left;
    background-color: blueviolet;
    border-radius: 0px 10px 0px 0px;
    width: 70px;
    margin-top:9.5%;
    font-size: large;
    
}

.sell_article{
    margin-left: 37%;
    margin-top: 5%;
    
}
.sell{
    text-align: center;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    display:inline-block;
    width: 150px;
    height:40px;
    padding-top: 10px;
    background-color: aliceblue;
}
.up{
    width:10px;
    height: 10px;
}

.down{
    width:10px;
    height: 10px;
}

.medo{
    width:50px;
    height:30px;
}


.table4{
    text-align: center;
    border-style: hidden;
    border-radius: 10px 10px 10px 10px;
    padding-left: 30%;
    padding-top:13%;
    
}

.round{
    float:right;
    background-color: blueviolet;
    border-radius: 10px 0px 0px 0px;
    width: 70px;
    margin-top:12.7%;
    font-size: large;
    
}

.purchase_article{
    margin-left: 42%;
    margin-top: 8%;
    
}

.purchase{
    text-align: center;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    display:inline-block;
    width: 150px;
    height:40px;
    padding-top:10px;
    background-color: aliceblue;
}

.event_button{
    position:absolute;
    top:938px;
    left:900px;
}
.event{
    width:50px;
    height:30px;
    
}